.ExperienceSection {
  background-color: var(--red-purple);
  background-image: url(../images/ExperienceSection-bg.webp);
}
.button-wrapper {
  cursor: pointer;
  background-color: var(--white);
  color: var(--bg-black);
  font-size: 2.4rem;
  font-weight: 700;
  padding: 2rem 2rem;
  width: max-content;
  border-radius: 4rem;
}

@media all and (max-width: 1279px) {
  .ExperienceSection {
    background-position: center bottom;
  }
}
@media all and (max-width: 767px) {
  .ExperienceSection {
    background-image: url(../images/ExperienceSection-mob.webp);
    min-height: 115rem;
    background-position: center;
  }
}
