.header {
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0px 4rem;
}
.header-logo {
  height: 6.6rem;
}
.header-nav-item {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0px 2rem 0px 3.6rem;
}
.mobile-menu-wrapper {
  position: relative;
}
.mobile-menu {
  position: fixed;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  height: 100vh;
  width: 100vw;
  text-align: left;
  padding: 3.2rem;
  top: 0;
  left: 0;
  transition: tranform 0.3s ease-in-out 0s;
  z-index: 1;
}
.overlay {
  transform: translateX(0px);
}
.mobile-menu-button-wrapper {
  z-index: 2;
}
.mobile-nav-bar {
  margin-top: 9.5rem;
  overflow-y: scroll;
  width: 90%;
}
.mobile-nav-item {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--bg-light-gray);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

@media all and (max-width: 1279px) {
  .header-logo {
    height: 5.3rem;
  }
  .header-nav-item {
    margin: 0 1.6rem 0 2rem;
  }
}
@media all and (max-width: 767px) {
  .header {
    padding-bottom: 5rem;
  }
}
